name: Tests

on:
  push:
    branches: [main]
  pull_request:
    # Check all PR

jobs:
  tests:
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            python-version: "3.10"
          - os: ubuntu-22.04
            python-version: "3.13"
          - os: macos-14
            python-version: "3.13"

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.0"
        python-version: ${{ matrix.python-version }}
        enable-cache: true
        activate-environment: true

    - name: Set tox and coverage
      run: |
        uv pip install coverage[toml]
        uv tool install tox --with tox-uv

    - name: run Python tests and collect coverage
      run: |
        tox -e tests
        coverage xml --data-file tests/.coverage -o tests/coverage.xml
      env:
        # Use the CPU only version of torch when building/running the code
        PIP_EXTRA_INDEX_URL: https://download.pytorch.org/whl/cpu

    - name: upload to codecov.io
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: false
        files: tests/coverage.xml
